<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Detect your chance at winning">
    <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">
    <title>HackPredict</title>
</head>
<body>
    <main>
        <h1><strong>HackPredict</strong></h1>
        <div id="result">
          <br />
          <em>Enter your ideas to see the chance of your team winning!</em>
        </div>
        <div class="form-group">
          <label for="idea">Your idea?</label>
          <textarea class="form-control" rows="5" id="idea" placeholder="Ideas..." ></textarea>
        </div>
    </main>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
    <script>
        $(function () {
            $("textarea").on("input propertychange", function () {
                var text = $("textarea").val();
                if (text.length > 0) {
                    $.get("/predict/", {
                        "text": text
                    }, function (data) {
                        $("#result").html("<h3>" + data + "</h3>");
                    });
                }
            });
        });
    </script>
</body>
</html>